@import url(./colors.css);
@import url(./fonts.css);

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.site-header {
  height: 230px;
  background: var(--light-gray);
  color: var(--text-gray);
}

.center-block {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  box-sizing: border-box;
}

.center-block-wide {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px;
  box-sizing: border-box;
}

.site-header > .center-block {
  display: flex;
}

.header-left {
  flex-grow: 1;
  padding-top: 65px;
}

.header-right {
  padding-top: 45px;
  text-align: end;
}

.company-img {
  background: var(--dark-gray);
  float: left;
  margin-right: 14px;
}

.center-company-data {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-name {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.phone-number {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: 40px;
}

.feedback {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline dashed;
  color: var(--text-gray);
}

.feedback:hover {
  color: black;
  text-decoration-style: solid;
}

.top-nav {
  background: var(--dark-gray);
}

.top-nav ul {
  margin: 0;
  text-align: center;
  padding: 18px 0;
}

.top-nav li {
  display: inline;
  list-style: none;
}

.top-nav li a {
  margin: 0 3px;
  color: white;
  font-size: 21px;
  text-decoration: none;
}

.top-nav li a::before {
  content: "|";
  margin-right: 8px;
}

.top-nav li:first-of-type a::before {
  content: "";
}

.top-nav li a:hover {
  text-decoration: underline solid;
}

.carousel {
  height: 400px;
  background: var(--carousel-background);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-footer {
  height: 220px;
  background: var(--dark-gray);
}
