@import url(./colors.css);
@import url(./fonts.css);
@import url(./header.css);
@import url(./carousel.css);

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 22px;
  min-width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center-block {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  box-sizing: border-box;
}

.center-block-wide {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px;
  box-sizing: border-box;
}

.site-content {
  flex-grow: 1;
  margin-top: 16px;
}

.site-content > .center-block {
  display: flex;
  gap: 16px;
}

.site-content .sidebar {
  flex-basis: 200px;
  flex-shrink: 0;
}

.site-content main {
  flex-grow: 1;
}

.site-footer {
  margin-top: 36px;
  height: 220px;
  background: var(--foreground-bold);
}
