@import url(./colors.css);
@import url(./fonts.css);

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
}

header {
  height: 230px;
  background: var(--light-gray);
  color: var(--text-gray);
}

.center-block {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

header > .center-block {
  display: flex;
}

.header-left {
  flex-grow: 1;
  padding-top: 65px;
}

.header-right {
  padding-top: 45px;
  text-align: end;
}

.company-img {
  background: var(--text-gray);
  float: left;
  margin-right: 14px;
}

.center-company-data {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-name {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.phone-number {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: 40px;
}

.feedback {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline dashed;
  color: var(--text-gray);
}

.feedback:hover {
  color: black;
  text-decoration-style: solid;
}

nav {
  background: var(--nav-background);
}

nav ul {
  margin: 0;
  text-align: center;
}

nav li {
  display: inline;
  list-style: none;
}

nav li a {
  color: white;
  font-size: 21px;
  text-decoration: none;
}

nav li a::before {
  content: "|";
  margin-right: 3px;
}

nav li:first-of-type a::before {
  content: "";
}

nav li a:hover {
  text-decoration: underline solid;
}
